body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, 'Times New Roman', Times, serif, Times, serif, Geneva, Tahoma, sans-serif;
}

.form-header {
  margin-top: 50px;
  margin-bottom: 0;
  color: hsl(213, 96%, 18%);
}
.form-p {
  margin-top: 5px;
  color: hsl(231, 11%, 63%);
}

.main-form{
  margin-top: 40px;
}

.form-label{
  font-weight: 600;
  font-size: small;
  color: hsl(213, 96%, 18%);
}

input {
  margin-top: 5px;
  margin-bottom: 17px;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  width: 100%;
  border-radius: 7px;
  border: 0.5px solid hsl(229, 24%, 87%);
  display: block;
}

.form-button {
  background-color: hsl(213, 96%, 18%);
  width: 100px;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 7px;
  margin-top: 70px;
  margin-left: 78%;
}
