body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, 'Times New Roman', Times, serif, Times, serif, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
.plan-header{
  color: hsl(213, 96%, 18%);
  margin-top: 3.125rem;
  margin-bottom: 0;
}
.frst-p {
  margin-top: 0.313rem;
  color: hsl(231, 11%, 63%) ;
}
.options {
  margin-top: 2.5rem;
  display: flex;
}
.icon {
  margin-top: 0;
}
.arcade, .advanced, .pro {
  width: 6.875rem;
  border: 0.5px solid hsl(229, 24%, 87%);
  padding-left: 0.938rem;
  padding-top: 0.938rem;
  padding-bottom: 0.938rem;
  border-radius: 0.625rem;
}
.advanced, .pro {
  margin-left: 1.25rem;
}
.options-header {
  margin-top: 1.875rem;
  margin-bottom: 0;
  color: hsl(213, 96%, 18%);
}
.options-p {
  margin-bottom: 0;
  font-size: small;
  color: hsl(231, 11%, 63%) ;
}
.options-span{
  display: block;
  color: hsl(213, 96%, 18%);
  font-size: small;
  font-weight: 500;
}
.toggle{
  margin-top: 1.875rem;
  background-color: hsl(231, 100%, 99%);
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  text-align: center;
  border-radius: 0.313rem;
}
.month, .year {
font-weight: 700;
font-size: small;
}
.month {
  color: hsl(213, 96%, 18%);
}
.year {
  color: hsl(231, 11%, 63%);
}
/* button.planBtn-one, button.planBtn-two {
  margin-top: 3.75rem;
}
.planBtn-one{
  border: none;
  color: hsl(231, 11%, 63%) ;
  background-color: hsl(0, 0%, 100%);
  font-weight: 700;
}
.planBtn-two {
  margin-left: 60%;
  color: hsl(0, 0%, 100%);
  background-color: hsl(213, 96%, 18%);
  width: 6.25rem;
  border: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.438rem;
  margin-top: 4.375rem;
} */