/* .icon {
  margin-top: 0;
}
.arcade, .advanced, .pro {
  width: 110px;
  border: 0.5px solid hsl(229, 24%, 87%);
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.advanced, .pro {
  margin-left: 20px;
}
h4 {
  margin-top: 30px;
  margin-bottom: 0;
  color: hsl(213, 96%, 18%);
}
.props-p {
  margin-bottom: 0;
  font-size: small;
  color: hsl(231, 11%, 63%) ;
} */